@model List<ComunidadPractica.Models.EncuestaModel>
@foreach (var encuesta in Model)
{
	<tr class="clickeable" data-href="@Url.Action("contestarEncuesta", "Encuesta")?encuestaID=@encuesta.id">			
		<td style="width: 35%"> @encuesta.titulo </td>
		@{
			 var fechaCierreParseada = encuesta.fechaCierre.Split(new[] { ' ' }, 2);
		}
		<td style="width: 35%">@fechaCierreParseada[0]</td>
		<!--<td style="width: 30%"><a class="btn btn-dark" href="@Url.Action("compartirEncuesta", "Encuesta")?encuestaID=@encuesta.id">COMPARTIR</a></td>-->
	</tr>
}
@if(Model.Count == 0){
<tr>
	<td style="width: 100%">
		<br><br><br>
		<h5> No hay datos que mostrar para esos filtros </h5>
		<br><br><br>
	</td>
</tr>
}
<script>runClickeable()</script>