@model ComunidadPractica.Models.CursoModel

<!DOCTYPE html>

<html>
<body>
	<br><br><br>
    <div class="container body-content">
        @using (Html.BeginForm("editarCurso", "Curso", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="container center" style="line-height:2">
                <h4 class="ml-3 text-uppercase" name="nombre" data-val="true" value="@Model.nombre"><b>@Model.nombre</b></h4><br>
                <div id="secciones">
                    @{
                        Html.RenderPartial("editarCursoParcial", Model);
                    }
                </div>
                <br><br>
                <a class="btn btn-dark" href="javascript:void(0)" id="agregarSeccion" onclick="agregarSeccion()">
                    Añadir sección nueva al curso
                </a>
                <button type="button" onclick="validarEntrada()" class="btn btn-dark">Guardar Cambios</button>
                <button type="submit" id="submit" hidden="hidden"></button>
                <br><br><br />
            </div>
        }
    </div>
</body>
</html>
